2captcha-python==1.5.1
beautifulsoup4==4.13.4
certifi==2025.1.31
charset-normalizer==3.4.1
gitdb==4.0.12
GitPython==3.1.41
greenlet==3.2.0
idna==3.10
lxml==5.3.2
playwright==1.51.0
pyee==12.1.1
requests==2.32.3
setuptools==75.6.0
smmap==5.0.2
soupsieve==2.6
typing_extensions==4.13.2
urllib3==2.4.0
Flask
flasgger
